body{
    font: 20px Arial, sans-serif;
}

.navbar{
background-color: #1E8449;
}

.quem-somos{
    background-color: #5DADE2;
    color: white;
}

.margin{
    
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #D6EAF8;
}

.bgfooter{
    background-color: black;
    color: white;
}